:root {
   --color-text: #e0e0e0;
   --color-placeholder: rgba(239, 239, 239, 0.588);
   --color-additional: #93b1ff;
   --color-additional7: rgba(147, 177, 255, 0.6);
   --backgraund-color-calendar: #545454;
   --backgraund-color-calendar-header: #bdbdbd;

   --image-arrow: url('../../static/images/arrow.png');
}

.calendar{
   width: 200px;
   border-radius: 5px;
   text-transform: capitalize;
   border-color: var(--backgraund-color-calendar);
}

.calendar-header {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   border-radius: 5px 5px 0 0;
   background-color: var(--backgraund-color-calendar-header);
   color: var(--color-text);
   box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.2);
}

.calendar-header-arrow-left {
   background-size: contain; 
   background-repeat: no-repeat;
   cursor: pointer;
   background-image: var(--image-arrow);
   width: 20px;
   height: 20px;
   transform: rotate(-180deg);
}

.calendar-header-arrow-right {
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;
   background-image: var(--image-arrow);
   width: 20px;
   height: 20px;
}

